<div class="row">
    <div class="col-md-6">
        <h1>Avklarade pass</h1>
        <p>Dina avklarade pass</p>
    </div>

    <div class="col-md-6">
        <h1>Kommande pass</h1>
        <p>Dina kommande pass</p>
    </div>
</div>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}